[Desktop Entry]
X-AppImage-Arch=x86_64
X-AppImage-Version=1.0
X-AppImage-Name=HyWxDemo
Type=Application
Name=HyWxDemo
Exec=HyWxDemo
Icon=hywxdemo
Categories=Development;
Terminal=false
