**/__pycache__/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Arquivos específicos do Hy
.hyc/

# Distribuição / Empacotamento (PyInstaller / AppImage / Inno Setup)
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
*.AppImage
appimage-build
AppDir/.DirIcon
AppDir/AppRun
AppDir/AppRun.env
*.exe

# Logs de erro e runtime
*.log

